<%- include('partials/_head') %>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,300;1,600&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Londrina+Solid&display=swap"
    rel="stylesheet">
</head>
<body>
 <!-- Top nav bar (fixed) -->
 <nav>
  <span class="logo"><img src="../images/midterm_logo.png" class="logo"></span>
  <span class="date_time"><b>
    <% var date = new Date() %>
    <% date.setHours(date.getHours() - 7 ) %>
    <%const options = {year: 'numeric', month: 'long', day: 'numeric',timeZone: 'America/Edmonton' };%>
    <%= date.toLocaleDateString('en-CA',options)  %>
    <%= date.toLocaleTimeString() %></b>
  </span>
  <span class="nav_welcome"><b>Welcome Admin</b></span>
</nav>
<!-- orders container-->
  <main id="container">
    <section>

      <table>
        <thead>
          <tr><th colspan="5" class="table_title">ORDER DETAILS #<%= orderId %></th></tr>
          <tr>
            <th>ID</th>
            <th>Dish name</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Sub Total</th>
          </tr>
        </thead>
        <tbody>
          <% for(let item of anOrder) { %>
            <tr>
              <td><%= item["id"] %></td>
              <td><%= item["item"] %></td>
              <td>$<%= item["price"] %></td>
              <td><%= item["qty"] %></td>
              <td>$<%= item["subtotal"] %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </section>
    <form class="form-inline" action="/admin/<%= orderId %>" method="POST">
      <div class="form-group mb-2"><br>
        <label for="maxTime">Estimated Time (minutes) : <%=maxTime%></label>
        <input class="form-control" type="text" size="5" name="maxTime" value="<%=maxTime%>" hidden placeholder="0"><br>
        <label for="maxTime">Add Extra Time (minutes)   :</label>
        <input class="form-control" type="text" size="5" name="addTime" value="0" placeholder="0"><br><br>
        <button type="submit" id="accept-order" class="btn btn-primary">ACCEPT ORDER</button>
      </div>
    </form>

  </main>
  <footer></footer>
  </body>
</html>
