<%- include('partials/_head') %>

  <body>
   <!-- Top nav bar (fixed) -->
   <nav>
    <span class="logo"><img src="images/midterm_logo.png" class="logo"></span>
    <span class="date_time">

      <% var date = new Date() %>
      <% date.setHours(date.getHours() - 7 ) %>
      <%const options = {year: 'numeric', month: 'long', day: 'numeric',timeZone: 'America/Edmonton' };%>
      <%= date.toLocaleDateString('en-CA',options)  %>
      <%= date.toLocaleTimeString() %>
    </span>
    <span class="nav_welcome">Welcome   Admin</span>
  </nav>
    <!-- New tweet post a container-->
    <main id="container">
      <section id="new-tweet">

        <table>
          <thead>
            <tr><th colspan="6" class="table_title">ORDERS</th></tr>
          <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Phone Num</th>
            <th>Total Amount</th>
            <th>Order Status</th>
            <th>ETA</th>
          </tr>
          </thead>
          <tbody>
            <% for(let order of ordersDb) { %>

              <tr <%  if(order["status"] === 'PENDING') { %> class="paint" <% } %> >
                <td><a href="/admin/<%= order['id'] %>"><%= order["id"] %></a></td>


                <% if(order["name"] !== '') { %>
                  <td><%=  order["name"] %></td>
                  <% } else { %>
                    <td></td>
                  <% } %>

                <% if(order["phone"] !== '') { %>
                    <td><%=  order["phone"] %></td>
                    <% } else { %>
                      <td></td>
                <% } %>

                <% if(order["subtotal"] !== '') { %>
                      <td><%=  order["subtotal"] %></td>
                      <% } else { %>
                        <td></td>
                      <% } %>

                <% if(order["status"] !== '') { %>
                    <td><%=  order["status"] %></td>
                    <% } else { %>
                      <td></td>
                        <% } %>

                <% if(order["order_datetime"] !== null) { %>
                <td><%=  order["order_datetime"].toLocaleTimeString('en-CA', {timeZone: 'America/Edmonton'}) %></td>
                <% } else { %>
                  <td></td>
                <% } %>
              </tr>
            <% } %>
          </tbody>
        </table>
        </section>

    </main>
    <footer>

    </footer>

    </body>
</html>
